@page "/students"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager nm
@* @inject Blazored.SessionStorage.ISessionStorageService session *@
@inject ProtectedSessionStorage session;

<h3>Student Modul</h3>

@* <a href="/students/studentDetail/10">ABC</a> *@
<button class="btn btn-primary" @onclick="Goto">ABS</button>

@code {
    async void Goto()
    {
        var Count = await session.GetAsync<int>("SessionUser");
        var studentId = await session.GetAsync<int>("SessionStudent");
        // nm.NavigateTo($"/students/studentDetail/10/{(Count.Success ? Count.Value : 0)}");
      
        
        nm.NavigateTo($"/students/studentDetail?StudentId=10&Count={(Count.Success ? Count.Value : 0)}");
        // Dictionary<string, Object?> keyValues = new()
        //     {
        //         ["studentId"] = 10,
        //         ["count"] = Count.Value
        //     };

       

        // nm.NavigateTo(nm.ToAbsoluteUri)

        // nm.NavigateTo($"/students/studentDetail/10/{(Count.Success ? Count.Value : 0)}", new NavigationOptions
        // {
        //     HistoryEntryState = "Navigation state"
        // });  надо понят что это выполняет.
    }
}
