@page "/students"
@inject NavigationManager nm
@inject Blazored.SessionStorage.ISessionStorageService session

<h3>Student Modul</h3>

@* <a href="/students/studentDetail/10">ABC</a> *@
<button class="btn btn-primary" @onclick="Goto">ABS</button>

@code {
    private int Count;

    async void Goto()
    {
        Count = await session.GetItemAsync<int>("SessionUser");

        nm.NavigateTo($"/students/studentDetail/10/{Count}");
    }
}
