@page "/students"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager nm
@* @inject Blazored.SessionStorage.ISessionStorageService session *@
@inject ProtectedSessionStorage session;

<h3>Student Modul</h3>

@* <a href="/students/studentDetail/10">ABC</a> *@
<button class="btn btn-primary" @onclick="Goto">ABS</button>

@code {
    async void Goto()
    {
        var Count = await session.GetAsync<int>("SessionUser");

        nm.NavigateTo($"/students/studentDetail/10/{(Count.Success ? Count.Value : 0)}");
    }
}
